@define-mixin active{
  background-color: #458df9;
  color: #FFF;
  border: 1px solid transparent;
}

.paginationCenter{
  margin-top: 10px;
  text-align: center
}
.pagination {
  ul {
    display: inline-block;
    li{
      display: inline-block;
      margin: 0 5px;
      a, span{
        color:#fff;
        border-radius: 4px;
        //border: 1px solid #dedede;
        float: left;
        line-height: 20px;
        padding: 4px 12px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        &:hover{
          @mixin active;
        }
      }
      a{
        color:#458df9;
        &:hover{
          text-decoration:underline;
        }
      }
    }
    .active{
      a,span{
        background-color: #458df9;
        color: #FFF;
        @mixin active;
      }
    }
  }
}
.modal-content{
  .pagination{
    ul{
      li{
        span{
          color:#000;
        }
      }
    }
  }
}
