.panel-chart{
  display: inline-table;
  overflow: hidden;
  width: 19.8%;
  height: 350px;
  border:1px solid rgba(255,255,255,0.1);
  margin-right:-1px;
  margin-bottom:-1px;
  .panel-title{
    max-height: 20px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin:15px 0;
    overflow: hidden;
  }
  .panel-value{
    width: 77px;
    height:77px;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Arial';
    padding: 3px;
    border-radius: 50%;
    border:10px solid #aac5e5;
    margin:20px auto;
    margin-top:40px;
    div{
      width:77px;
      height:77px;
      line-height: 77px;
      font-size: 20px;
      border-radius: 50%;
      //background-color: #aac5e5;
    }
  }
  .panel-percentage{
    padding: 0 10px;
  }
  .panel-status-normal{
    border-color:#4fdc4f;
    div{
      color:#4fdc4f;
      //background:-webkit-radial-gradient(center center,rgba(255,255,255,0) 55%, #4fdc4f);
      //box-shadow: 0px 7px 10px rgba(0,0,0,0.6);
    }
  }
  .panel-status-warning{
    border-color:#76ddd9;
    div{
      color:#76ddd9;
      //background:-webkit-radial-gradient(center center,rgba(255,255,255,0) 55%,#76ddd9);
      //box-shadow: 0px 7px 10px rgba(0,0,0,0.6);
    }
  }
  .panel-status-secondary{
    border-color:#dfd332;
    div{
      color:#dfd332;
      //background:-webkit-radial-gradient(center center,rgba(255,255,255,0) 55%,#dfd332);
      //box-shadow: 0px 7px 10px rgba(0,0,0,0.6);
    }
  }
  .panel-status-main{
    border-color:#ee853f;
    div{
      color:#ee853f;
      //background:-webkit-radial-gradient(center center,rgba(255,255,255,0) 55%,#ee853f);
      //box-shadow: 0px 7px 10px rgba(0,0,0,0.6);
    }
  }
  .panel-status-danger{
    border-color:#db4444;
    div{
      color:#db4444;
      //background:-webkit-radial-gradient(center center,rgba(255,255,255,0) 55%,#db4444);
      //box-shadow: 0px 7px 10px rgba(0,0,0,0.6);
    }
  }
  .panel-bar{
    position: relative;
    display: inline-block;
    width: 18%;
    height: 40px;
    text-align: center;
    line-height:40px;
    margin: 0 1%;
    border-top:2px solid #abc7e7;
    border-bottom:1px solid #abc7e7;
    margin-top:20px;
    margin-bottom:20px;
    .panel-bar-value{
      position: absolute;
      left: 0 ;
      bottom: 0;
      width: 100%;
    }
    .panel-bar-text{
      font-size:14px;
    }
  }
  .panel-bar-normal{
    border-color:#4fdc4f;
    .panel-bar-text{
      color:#4fdc4f;
    }
    div{
      background:rgba(79,220,79,0.2);
    }
  }
  .panel-bar-warning{
    border-color:#76ddd9;
    .panel-bar-text{
      color:#76ddd9;
    }
    div{
      background:rgba(118,221,217,0.2);
    }
  }
  .panel-bar-secondary{
    border-color:#dfd332;
    .panel-bar-text{
      color:#dfd332;
    }
    div{
    background:rgba(223,211,50,0.2);
  }
  }
  .panel-bar-main{
    border-color:#ee853f;
    .panel-bar-text{
      color:#ee853f;
    }
    div{
    background:rgba(238,133,63,0.2);
  }
  }
  .panel-bar-danger{
    border-color:#db4444;
    .panel-bar-text{
      color:#db4444;
    }
    div{
      background:rgba(219,68,68,0.2);
    }
  }
}
